page-post-list {
    .scroll-content{
        overflow-y: hidden;

        .card .note{
            float: right;
            margin-right: 10px;
            margin-top: 10px;
            display: flex;
        }
    }
}
